/* =============
    Navigation
============= */
<<<<<<< HEAD
#nav-container {
    
    ul{
        height: 100%;

        @include lg{
            display: flex;
        }
        li{
=======

#nav-container {

    ul {
        height: 100%;

        @include lg {
            display: flex;
        }

        li {
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
            margin-bottom: 20px;

            @include lg {
                align-items: center;
<<<<<<< HEAD
                border-right: 2px solid black;
                display: flex;
                margin-bottom: 0px;

=======
                border-right: 2px solid $black;
                display: flex;
                margin-bottom: 0px;
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
            }

            a:link,
            a:visited {
<<<<<<< HEAD
                color:white;
=======
                color: $white;
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
                font-family: 'Roboto Slab', serif;
                padding: 0 20px;
                text-decoration: none;

                @include lg {
<<<<<<< HEAD
                    color: black;
                }
                
            }
            
            li:first-child {
                border:none;

            }

            li:last-child{
                border:none;
            }
        }
=======
                    color: $black;
                }
            }

            a:hover,
            a:active {
                color: $yellow;
            }
        }

        li:first-child {
            border: none;
        }

        li:last-child {
            border: none;
        } 
>>>>>>> 031b9a4688bdf05a9a47a81be86ca32256cbddb9
    }
}