/* =============
    Header
============= */

header {
    background-color: $white;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;

    >div {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: "burger survival""nav nav";

        @include lg {
            grid-template-columns: 20% auto;
            grid-template-areas: "nav survival";
        }

        #logo-container {
            grid-area: survival;
            padding: 10px;
            text-align: right;

            a:link,
            a:visited {
                background-color: $yellow;
                border-radius: 23px;
                color: $black;
                display: inline-block;
                font-size: rem-calc(18);
                font-weight: 700;
                padding: 10px 20px;
            }

            a:hover,
            a:active {
                background-color: $black;
                color: $white;
            }
        }

        #burger-container {
            //justify-content: flex-end;
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-container {
            background-color: $black;
            display: none;
            grid-area: nav;
            padding: 10px;

            @include lg {
                background-color: $white;
                display: block !important;
            }
        }
    }
}